#contact-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

#contact-button-section {
  height: 500px;
  margin-top: 0;
}

.fa-envelope-open-text {
  color: white;
  font-size: 20rem;
}

.fa-envelope {
  font-size: 20rem;
  transition: font-size 1s, color 2s;
}

.fa-envelope:hover {
  font-size: 33rem;
  color: gold;
}

.email-button {
  color: white;
}

.change-icon > .fa-envelope-open-text + .email-button,
.change-icon:hover > .fa-envelope-open-text {
  display: none;
}
.change-icon:hover > .fa-envelope-open-text + .email-button {
  display: inherit;
}
