#contact-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

#contact-section {
  color: #d4d4d4;
}

.c-button-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.change-icon,
.linkedin-wrapper {
  margin: 16rem;
}

.fa-envelope-open-text {
  font-size: 20rem;
}

.fa-envelope {
  font-size: 20rem;
  transition: color 1s;
}

.fa-envelope:hover {
  /* font-size: 23rem; */
  color: gold;
}

.change-icon > .fa-envelope-open-text + .email-button,
.change-icon:hover > .fa-envelope-open-text {
  display: none;
}

.change-icon:hover > .fa-envelope-open-text + .email-button {
  display: inherit;
}

.fa-linkedin {
  display: block;
  font-size: 20rem;
  color: #d4d4d4;
}

.fa-linkedin:hover {
  color: gold;
  transition: color 1s;
}
