@media screen and (max-width: 450px) {
  .top-nav {
    z-index: -1;
    width: 0;
  }

  #title-block {
    font-size: 2rem;
    padding: 0;
  }

  .my-name,
  .subtitle {
    margin: 0.5rem 0.3rem;
  }

  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .my-pic {
    max-width: 70vw;
    margin-bottom: 2rem;
  }

  .about-text {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .portfolio-row {
    flex-direction: column;
  }

  .portfolio-card {
    margin: 2rem 0;
    width: 84vw;
    padding: 0 1rem 1rem;
    box-shadow: 1px 1px 5px 1px #022504;
  }

  .pcard-text {
    font-size: 1.8rem;
    line-height: 2.3rem;
    max-width: 100%;
  }

  .plist {
    font-size: 1.8rem;
    line-height: 2.3rem;
    max-width: 100%;
  }

  .skills-box {
    margin: 0;
    padding: 0.5rem;
  }

  #t-container {
    margin: 0 1rem;
  }

  #carousel {
    height: 75vh;
  }

  .t-wrapper {
    width: 100%;
  }

  .t-text {
    font-size: 1.5rem;
    padding: 0;
    line-height: 2rem;
  }

  #navigation {
  }

  #navigation > label {
    max-width: 10ch;
    font-size: 1rem;
  }

  .t-pic {
    height: 13rem;
    width: 13rem;
    margin: 1rem 0;
  }

  .t-heading {
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
  }

  .t-name,
  .t-title {
    text-align: center;
  }

  .t-name {
    margin: 0 0 0.5rem;
  }

  .t-title {
    margin: 0 0 3.5rem;
  }

  #contact-button-section {
    flex-direction: column;
  }

  .change-icon,
  .linkedin-wrapper {
    margin: 6rem;
  }

  .fa-envelope-open-text {
    font-size: 0;
  }

  .fa-envelope {
    font-size: 15rem;
    color: #d4d4d4;
  }

  .change-icon > .fa-envelope-open-text + .email-button,
  .change-icon:hover > .fa-envelope-open-text {
    display: block;
  }

  .fa-envelope:hover {
    /* font-size: 23rem; */
    color: gold;
  }

  .fa-linkedin {
    font-size: 15rem;
    color: #d4d4d4;
  }

  .fa-linkedin:hover {
    color: gold;
  }
}
