@media screen and (max-width: 450px) {
  .top-nav {
    z-index: -1;
    width: 0;
  }

  #title-block {
    font-size: 2rem;
    padding: 0;
  }

  .about-text {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .portfolio-row {
    flex-direction: column;
  }

  .portfolio-card {
    margin: 2rem;
    width: 84vw;
    box-shadow: 1px 1px 5px 1px #022504;
  }

  .pcard-text {
    font-size: 1.8rem;
    line-height: 2.3rem;
    max-width: 100%;
  }

  .plist {
    font-size: 1.8rem;
    line-height: 2.3rem;
    max-width: 100%;
  }

  .skills-box {
    margin: 0;
    padding: 0.5rem;
  }

  #t-container {
    margin-left: 4rem;
  }

  .p-wrapper {
  }

  .t-text {
    font-size: 1.5rem;
  }

  #navigation {
  }

  #navigation > label {
    font-size: 1rem;
  }

  .t-pic {
    height: 5rem;
    width: 5rem;
  }

  #contact-button-section {
    flex-direction: column;
  }
}
