@media screen and (max-width: 450px) {
  .top-nav {
    z-index: -1;
  }

  #title-block {
    font-size: 2rem;
    padding: 0;
  }

  .about-text {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .portfolio-row {
    display: flex;
    flex-direction: column;
  }

  .portfolio-card {
    width: 84vw;
    box-shadow: 1px 1px 5px 1px #022504;
  }
}
