/* #skills-section {
  background: url("../svg-backgrounds/spectrum-gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.skills-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13vw;
  height: 20vh;
  margin: 4rem 3rem;
}

.skills-icon {
  max-height: 100%;
  max-width: 100%;
}
