#t-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #aaa;
  width: 70vw;
}

#carousel,
#navigation {
  flex: initial;
  display: block;
}

#carousel {
  overflow: hidden;
  height: 75vh;
  border-radius: 15px;
  background-color: #383838;
  padding: 0 1rem;
}

.t-wrapper {
  position: relative;
  max-width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

#button_a:checked ~ #carousel .t-wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#button_b:checked ~ #carousel .t-wrapper {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

#button_c:checked ~ #carousel .t-wrapper {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}

#button_d:checked ~ #carousel .t-wrapper {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}

#button_e:checked ~ #carousel .t-wrapper {
  -webkit-transform: translateY(-400%);
  transform: translateY(-400%);
}

#button_f:checked ~ #carousel .t-wrapper {
  -webkit-transform: translateY(-500%);
  transform: translateY(-500%);
}

[class^="panel_"] {
  overflow: auto;
  position: relative;
  width: inherit;
  height: inherit;
  padding: 0 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navigation {
  margin-left: 1.3rem;
  font-size: 2.2rem;
}

[class^="label_"] {
  display: block;
  cursor: pointer;
  margin: 8px 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50px;
  color: #dbdbdb;
  background-color: #383838;
  transition: all 0.3s ease;
}

#navigation > label:not(:last-child) {
  margin-bottom: 2.5rem;
}

[class^="label_"]:hover {
  color: rgb(238, 238, 238);
  background-color: rgb(22, 148, 0);
}

.t-button-text {
  display: block;
  padding: 1rem 2.2rem;
}

#button_a:checked ~ #navigation .label_a,
#button_b:checked ~ #navigation .label_b,
#button_c:checked ~ #navigation .label_c,
#button_d:checked ~ #navigation .label_d,
#button_e:checked ~ #navigation .label_e,
#button_f:checked ~ #navigation .label_f {
  cursor: default;
  color: rgb(226, 192, 0);
  background-color: #004203;
}

.t-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  font-size: 3rem;
}

.t-head-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.t-pic {
  height: 19rem;
  width: 19rem;
  border-radius: 100%;
  margin: 2rem 2rem 2rem 0;
}

.t-name,
.t-title {
  margin-bottom: 0;
  margin-top: 1rem;
}

.t-name {
  font-weight: bold;
}

.t-title {
  color: rgb(226, 192, 0);
  text-shadow: #383838;
}

.t-text {
  padding: 0 2rem;
  font-size: 2.2rem;
  line-height: 2.7rem;
  text-align: left;
}

.t-text > p {
  margin-top: 0;
}

.t-text > p:not(:last-child) {
  margin-bottom: 1.5rem;
}
