.tcontainer {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

.item {
  position: absolute;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 2rem;
  padding: 0rem 1.5rem;
}

.tcard-text {
  margin-right: 1rem;
  margin-left: 1rem;
}

.tcard-name,
.t-card-title,
.tcard-company {
  display: block;
}

.tcard-name {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

.tcard-attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tcard-title {
  font-style: italic;
}

#k-attr {
  margin-top: 1rem;
}

#n-text {
  margin-bottom: 0.5rem;
}

#n-attr {
  margin-top: 0;
}

#j-attr {
  margin-top: 0.5rem;
}

.item:nth-of-type(1) {
  --offset: 1;
  background-color: rgb(62, 62, 62);
}
.item:nth-of-type(2) {
  --offset: 2;
  background-color: rgb(199, 199, 199);
  color: rgb(64, 64, 64);
  font-size: 2rem;
}
.item:nth-of-type(3) {
  --offset: 3;
  background-color: rgb(62, 62, 62);
  font-size: 2.2rem;
}
.item:nth-of-type(4) {
  --offset: 4;
  background-color: rgb(199, 199, 199);
}
.item:nth-of-type(5) {
  --offset: 5;
  background-color: rgb(62, 62, 62);
}

input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 1.6em;
}

input[type="radio"]:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(1):checked ~ #carousel {
  --position: 1;
}

input[type="radio"]:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(2):checked ~ #carousel {
  --position: 2;
}

input[type="radio"]:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(3):checked ~ #carousel {
  --position: 3;
}

input[type="radio"]:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(4):checked ~ #carousel {
  --position: 4;
}

input[type="radio"]:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input[type="radio"]:nth-of-type(5):checked ~ #carousel {
  --position: 5;
}
